@import url('root.css');

nav {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:var(--primary-color-4);
}

li {
    float: left;
    display: inline;
    height: 50px;

    border-right: 2px solid black;
 
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 40px;
    text-decoration: none;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 50px;
  }

  #login {
    cursor: pointer;
    float: right;
    border-left: 2px solid black;

  }

  li a:hover {
    background-color: var(--primary-color-3);
  }

  .hero-image {
    position: relative;
    width: 100%;
    background-image: url(heroimg.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    top: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
  }

  .filters {
    margin: 20px 0 50px;
    text-align: center;
  }

  .button {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 4px;
    background: var(--primary-color-4);
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #000000;
    margin: 10px;
  }
  
  .button:hover {
    background-color: var(--primary-color-3);
  }
