:root {
  --primary-color-1: #FFEECC; /* Creamy Yellow */
  --primary-color-2: #FFDDCC; /* Peachy Pink */
  --primary-color-3: #FFCCCC; /* Soft Coral */
  --primary-color-4: #FEBBCC; /* Blush Pink */
}

html {
  /* font faimly */
  line-height: 2;
  box-sizing: border-box;
}

nav {
    margin-top: 0px;
    margin-bottom: 0px;


}
body {

    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:var(--primary-color-4);
}

li {
    float: left;
    display: inline;
    height: 50px;

    border-right: 2px solid black;
 
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 40px;
    text-decoration: none;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 50px;
  }

  #login {
    cursor: pointer;
    float: right;
    border-left: 2px solid black;

  }

  li a:hover {
    background-color: var(--primary-color-3);
  }

  .hero-image {
    position: relative;
    width: 100%;
    background-image: url(/heroimg.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    top: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
  }

  .filters {
    margin: 20px 0 50px;
    text-align: center;
  }

  .button {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 4px;
    background: var(--primary-color-4);
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #000000;
    margin: 10px;
  }
  
  .button:hover {
    background-color: var(--primary-color-3);
  }
  
  --boxShadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --white: rgb(255, 255, 255);
  --pink: #FEBBCC;
  --brown: #6e4e36;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.products {
  margin: auto;
  width: 70%;
  max-width: 1700px;
}

#productsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  margin: auto;
}
  
.product {
  box-shadow: var(--boxShadow);
  border-radius: 3px;
  margin: 1em;
  background-color: var(--white);
  display: grid;
  grid-template-rows: 17em 0.5fr 1fr 1fr;
}

.productImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 17em;
}

.productName {
  color: var(--pink);
  padding: 0.4em;
}

.moreInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
}
  
.productsDescription, .productAllergens, .productPrice {
  padding: 0 0.5em;
  font-size: 0.9em;
  color: var(--brown);
}

  /* Product adding button  */
.productAdd {
  padding: 0.2em 1em;
  border: none;
  background-color: var(--white);
  color: var(--pink);
  font-size: 24px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
  border: 1px solid var(--pink);
}
  
.productAdd:hover {
  background-color: var(--pink);
  transform: scale(1.1);
  color: var(--white);
}
  
.productAdd:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1900px) {
  .products {
    width: 80%;
  }

  #productsContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 420px) {
  .products {
    width: 100%;
  }
}
