@import url(root.css);

/* Your existing CSS styles here */

#registerSignup {
  background-color: var(--pink);
  border: 1px solid #ccc;
  box-shadow: var(--boxShadow);
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#registerSignup[open] {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-frame {
  border-radius: 10px;
  padding: 20px;
  position: relative;
  width: 80%;
  max-width: 400px;
  margin: 20px;
}

.glass-frame-content {
  background: var(--primary-color-3);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  display: none;
}

h1#welcomeHeading {
  text-align: center;
  color: var(--text);
}

.tabs {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.tab {
  background: none;
  border: none;
  color: var(--text);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  transition: 0.3s;
  border: 1px solid black;
}

.tab.active {
  background: var(--primary-color-3);
  color: var(--text);
}

.tab:not(.active):hover {
  background: var(--pink);
  color: var(--text);
}

.tab-content {
  margin-top: 20px;
  display: none;
}

/* Button styles for signup and login */
#signupSubmitButton,
#loginSubmitButton {
  background: var(--background);
  color: var(--text);
  font-size: 16px;
  transition: 0.3s;
}

/* Click effect for form inputs */
#signupNameInput:focus,
#signupEmailInput:focus,
#signupPhoneInput:focus,
#signupPasswordInput:focus,
#signupSubmitButton:focus,
#loginEmailInput:focus,
#loginPasswordInput:focus,
#loginSubmitButton:focus {
  border-color: var(--pink);
  box-shadow: 0 0 5px var(--pink);
}

/* Remove hover effect for both signup and login form buttons */
#signupSubmitButton:hover,
#loginSubmitButton:hover {
  background-color: var(--pink);
  transform: scale(1.1);
}

/* Add glass frame styles to signup form */
#glass-frame-signup-registerLogin.glass-frame-content {
  display: block;
}

#close_register {
  background-color: var(--primary-color-3);
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  cursor: pointer;
}

/* Hover effect for both signup and login tabs */
#signupTabButton:hover,
#loginTabButton:hover {
  background: var(--pink);
  color: var(--text);
}

/* Media queries if any */
@media only screen and (max-width: 600px) {
  #registerSignup {
    width: 90%;
    max-width: 100%;
  }

  .container {
    width: 90%;
  }
  
  .glass-frame {
    padding: 10px;
  }
}
