@import url(root.css);

#registerSignup::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#registerSignup {
  background-color: var(--pink);
  border: 1px solid #ccc;
  box-shadow: var(--boxShadow);
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#registerSignup[open] {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-frame {
  border-radius: 10px;
  padding: 20px;
  position: relative;
  width: 80%;
  max-width: 400px;
  margin: 20px;
}

.glass-frame-content {
  background: var(--primary-color-3);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  display: none;
}

h1#welcomeHeading {
  text-align: center;
  color: var(--text);
}

.tabs {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.tab {
  background: none;
  border: none;
  color: var(--text);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  transition: 0.3s;
  border: 1px solid black;
}

.tab:hover,
.tab.active {
  background: var(--pink);
  color: var(--text);
}

.tab-content {
  margin-top: 20px;
  display: none;
}

/* Adjust form input and button styles for signup and login */
#signupForm-registerLogin input[type="text"],
#signupForm-registerLogin input[type="email"],
#signupForm-registerLogin input[type="tel"],
#signupForm-registerLogin input[type="password"],
#signupForm-registerLogin button[type="submit"],
#loginForm-registerLogin input[type="text"],
#loginForm-registerLogin input[type="password"],
#loginForm-registerLogin button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: var(--pink);
  color: var(--text);
}

#signupForm-registerLogin button[type="submit"],
#loginForm-registerLogin button[type="submit"] {
  background: var(--background);
  color: var(--pink);
  font-size: 16px;
  transition: 0.3s;
}

/* Click effect for form inputs */
#signupForm-registerLogin input[type="text"]:focus,
#signupForm-registerLogin input[type="email"]:focus,
#signupForm-registerLogin input[type="tel"]:focus,
#signupForm-registerLogin input[type="password"]:focus,
#signupForm-registerLogin button[type="submit"]:focus,
#loginForm-registerLogin input[type="text"]:focus,
#loginForm-registerLogin input[type="password"]:focus,
#loginForm-registerLogin button[type="submit"]:focus {
  border-color: var(--pink);
  box-shadow: 0 0 5px var(--pink);
}

/* Remove the default browser outline for focused elements */
#signupForm-registerLogin input:focus,
#signupForm-registerLogin button:focus,
#loginForm-registerLogin input:focus,
#loginForm-registerLogin button:focus {
  outline: none;
}

/* Remove hover effect for both signup and login form buttons */
#signupForm-registerLogin button[type="submit"]:hover,
#loginForm-registerLogin button[type="submit"]:hover {
  background-color: var(--background);
  color: var(--pink);
  transform: none;
}

/* Add glass frame styles to signup form */
#glass-frame-signup-registerLogin.glass-frame-content {
  display: block;
}

#close_register {
  background-color: var(--primary-color-3);
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #registerSignup {
    width: 90%;
    max-width: 100%;
  }

  .container {
    width: 90%;
  }
  
  .glass-frame {
    padding: 10px;
  }
}