:root {
    --primary-color-1: #FFEECC; /* Creamy Yellow */
    --primary-color-2: #FFDDCC; /* Peachy Pink */
    --primary-color-3: #FFCCCC; /* Soft Coral */
    --boxShadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --white: rgb(255, 255, 255);
    --pink: #FEBBCC; /* Blush Pink */
    --text: #532c1f; /* For all texts */
    --background: #f5f5f5; /* For all backgrounds */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    /* font faimly */
    line-height: 2;
    box-sizing: border-box;
    scroll-behavior: smooth;  
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
  }